.hidden {
	display: none;
}

.ap-form-step {
	display: none;
}


/* FLOAT BUTTON */

.bottom-space {
	margin-bottom: 80px;
}

.btn-floating.second {
	margin-right: -10px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

.btn-floating.third {
	bottom: 45px;
	left: 92px;
	width: 45px;
	height: 45px;
	line-height: 58px;
}

.flexible {
	display: flex;
	flex-wrap: wrap;
}

.answer-item {
	width: 100%
}

.answer-item .btn {
	float: right;
	margin: 5px;
}